body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:#FFF1E5;
}

h1{
    color:#E5645E;
}
h3,h2,h5,p{
    color:#BB6250;
}

.title {
    position: relative;
}

.menu {
    margin-left: auto;
}
.menu a {
    margin-right: 40px; 
    color:#E5645E;
}

.banner {
    display: flex;
    align-items: center;
}

.container {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
}
.container h1,h3{
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size:35px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(30% - 20px); /* 每個商品的寬度為 30% 並減去 margin */
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #bb6250;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.product h3 {
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 5px;
}

.add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #bc7d6a;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.copyright p{
    text-align: center;
}